@font-face {
	font-family: 'Gerbera';
	src: url('../fonts/Gerbera.eot');
	src: local('☞Gerbera'), local('Gerbera'),
	url('../fonts/Gerbera.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gerbera.woff2') format('woff2'),
	url('../fonts/Gerbera.woff') format('woff'),
	url('../fonts/Gerbera.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gerbera';
	src: url('../fonts/Gerbera-Medium.eot');
	src: local('☞Gerbera Medium'), local('Gerbera-Medium'),
	url('../fonts/Gerbera-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gerbera-Medium.woff2') format('woff2'),
	url('../fonts/Gerbera-Medium.woff') format('woff'),
	url('../fonts/Gerbera-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: 'Gerbera', Arial, sans-serif;
	padding: 500px 0;
	font-weight: normal;
}

section {
	width: 100%;

	& + & {
		margin-top: 120px;
	}
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 120px;
	box-sizing: border-box;
}

.b1 {

	&-column {
		position: relative;
		width: 100%;
		justify-content: space-between;
		display: grid;
		grid-template-columns: repeat(4, 22.75%);
		grid-column-gap: 17px;
	}

	&-title {
		grid-column: 1;
		width: 75%;
		padding-right: 0;
		font-size: 1rem;
		font-weight: 500;
	}

	&-text {
		grid-column: 3/5;
		width: 73%;
		margin-left: auto;
		padding-left: 0;
		padding-right: 0;
		float: right;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	&-logo {
		margin: 0 auto 120px;
		display: block;
	}

}

.b2 {
	&-wrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 60px;
	}

	&-image {

		&.one {
			grid-area: 1 / 1 / 2 / 2;
		}

		&.two {
			grid-area: 1 / 2 / 2 / 3;
		}

		&.three {
			grid-area: 1 / 3 / 2 / 4;
		}

		img {
			width: 100%;
		}

	}

}

.video {
	--video-width: 100%;

	&-src {
		width: var(--video-width);
		margin: 0 auto;
		display: block;
	}

}

/* Label */
.naasson {
	position: absolute;
	width: auto;
	height: auto;
	font-size: 1.25rem;
	max-width: 90%;
	max-height: 100%;
	top: 3rem;
	left: 50%;
	transform: translateX(-50%);
	color: #00EAC5;
	opacity: 0;
}
