<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
	<div class="naasson">Made by Naasson<div></div></div>

	<section class="b1">

		<div class="container">

			<svg width="1063" height="141" viewBox="0 0 1063 141" fill="none" xmlns="http://www.w3.org/2000/svg"
					 class="b1-logo">
				<path d="M243.9 62.8996C238.4 62.8996 234.4 67.0996 234.4 72.5996C234.4 78.0996 238.4 82.1996 243.9 82.1996C249.4 82.1996 253.5 78.0996 253.5 72.5996C253.5 67.0996 249.4 62.8996 243.9 62.8996ZM244.3 87.6996C235.7 87.6996 229 81.6996 229 73.3996V53.5996L227.8 52.0996H225.1V47.1996L234.4 47.2996V60.7996H235.5C236.9 58.8996 240.3 57.4996 244.3 57.4996C252.7 57.4996 259.1 64.1996 259.1 72.5996C259.1 80.8996 252.7 87.6996 244.3 87.6996ZM304.1 52.7996L299.2 47.8996L304.1 43.0996L309 47.8996L304.1 52.7996ZM206 52.7996L201.1 47.8996L206 43.0996L210.8 47.8996L206 52.7996ZM724.9 57.5996C720.6 57.5996 717.1 59.3996 715.9 61.8996H714.8C713.4 59.3996 710.7 57.5996 707.1 57.5996C703.6 57.5996 700.4 59.2996 699 61.8996H698L696.9 58.2996H690.1V63.3996H692.6L693.9 65.0996V87.0996H699.3V69.5996C699.3 65.4996 702.4 63.0996 705.7 63.0996C709.1 63.0996 711.6 65.4996 711.6 69.5996V87.0996H712.9H716.9H717V69.5996C717 65.4996 720.1 63.0996 723.4 63.0996C726.8 63.0996 729.3 65.4996 729.3 69.5996V87.0996H734.7V67.6996C734.7 61.2996 729.4 57.5996 724.9 57.5996ZM616.7 63.3996H614.2V58.2996H620.9L622 61.8996H622.8C623.7 59.7996 626.4 57.5996 630.8 57.5996C635.3 57.5996 638.5 60.0996 639.4 61.1996L636.5 65.5996C635.6 64.4996 633.5 63.0996 630.4 63.0996C627 63.0996 623.4 65.4996 623.4 69.5996V87.0996H618V65.0996L616.7 63.3996ZM812 63.3996H824V58.2996H810.7V50.2996H805.3V58.2996H798.4V63.3996H804L805.3 65.0996V79.5996C805.3 84.9996 809.7 87.6996 814.2 87.6996C818.6 87.6996 821.5 85.6996 824 82.8996L820.8 79.5996C818.9 81.4996 816.7 82.6996 814.7 82.6996C812.7 82.6996 810.7 81.6996 810.7 78.8996V65.0996L812 63.3996ZM380.8 63.3996H392.9V58.2996H379.5V50.2996H374.1V58.2996H367.2V63.3996H372.8L374.1 65.0996V79.5996C374.1 84.9996 378.6 87.6996 383 87.6996C387.4 87.6996 390.3 85.6996 392.9 82.8996L389.7 79.5996C387.7 81.4996 385.6 82.6996 383.6 82.6996C381.6 82.6996 379.5 81.6996 379.5 78.8996V65.0996L380.8 63.3996ZM338.9 82.3996C333.4 82.3996 329.3 78.1996 329.3 72.6996C329.3 67.1996 333.4 63.0996 338.9 63.0996C344.4 63.0996 348.5 67.1996 348.5 72.6996C348.5 78.1996 344.4 82.3996 338.9 82.3996ZM338.9 57.5996C330.5 57.5996 323.7 64.3996 323.7 72.6996C323.7 81.0996 330.5 87.7996 338.9 87.7996C347.3 87.7996 354.1 81.0996 354.1 72.6996C354.1 64.3996 347.3 57.5996 338.9 57.5996ZM430.8 70.5996H414.9L413.8 69.2996C415.4 65.4996 418.5 62.9996 422.8 62.9996C427.1 62.9996 430.4 65.5996 431.8 69.2996L430.8 70.5996ZM422.8 57.5996C414.4 57.5996 407.8 64.3996 407.8 72.6996C407.8 81.0996 414.4 87.7996 422.8 87.7996C428.3 87.7996 432.6 86.1996 435.7 82.6996L432.3 79.2996C429.9 81.4996 427.8 82.4996 422.8 82.4996C418.3 82.4996 415.7 79.9996 414.1 76.6996L415.1 75.3996H437.9V72.6996C437.9 64.3996 431.3 57.5996 422.8 57.5996ZM475.4 58.2996L466.6 70.4996H462.7L461.4 68.7996V47.2996H452.3V52.2996H454.8L456 53.9996V87.0996H461.4V77.7996L462.7 76.0996H468.1L475.4 87.0996H481.1V82.0996H478.7L472.3 71.9996L482 58.2996H475.4ZM281 87.0996H275.6V53.9996L274.3 52.2996H271.8V47.2996H281V87.0996ZM308 87.0996H302.6V65.0996L301.3 63.3996H298.8V58.2996H308V87.0996ZM209.8 87.0996H204.4V65.0996L203.1 63.3996H200.6V58.2996H209.8V87.0996V87.0996ZM510 82.3996C504.5 82.3996 500.5 78.1996 500.5 72.6996C500.5 67.1996 504.5 63.0996 510 63.0996C515.5 63.0996 519.6 67.1996 519.6 72.6996C519.6 78.1996 515.5 82.3996 510 82.3996ZM521.1 61.8996H519.6C517.3 58.8996 513.7 57.5996 509.7 57.5996C501.3 57.5996 494.8 64.3996 494.8 72.6996C494.8 81.0996 501.3 87.7996 509.7 87.7996C513.7 87.7996 517.3 86.5996 519.6 83.6996H521.1L522.1 87.0996H528.4V82.0996H526.3L525 80.3996V65.0996L526.3 63.3996H528.4V58.2996H522.1L521.1 61.8996ZM765.6 82.3996C760.1 82.3996 756 78.1996 756 72.6996C756 67.1996 760.1 63.0996 765.6 63.0996C771 63.0996 775.1 67.1996 775.1 72.6996C775.1 78.1996 771 82.3996 765.6 82.3996ZM776.6 61.8996H775.1C772.8 58.8996 769.2 57.5996 765.2 57.5996C756.8 57.5996 750.4 64.3996 750.4 72.6996C750.4 81.0996 756.8 87.7996 765.2 87.7996C769.2 87.7996 772.8 86.5996 775.1 83.6996H776.6L777.6 87.0996H783.9V82.0996H781.8L780.5 80.3996V65.0996L781.8 63.3996H783.9V58.2996H777.7L776.6 61.8996ZM851.7 82.3996C846.2 82.3996 842.1 78.1996 842.1 72.6996C842.1 67.1996 846.2 63.0996 851.7 63.0996C857.2 63.0996 861.3 67.1996 861.3 72.6996C861.3 78.1996 857.2 82.3996 851.7 82.3996ZM851.7 57.5996C843.3 57.5996 836.5 64.3996 836.5 72.6996C836.5 81.0996 843.3 87.7996 851.7 87.7996C860.1 87.7996 866.9 81.0996 866.9 72.6996C866.9 64.3996 860.1 57.5996 851.7 57.5996ZM581.5 82.3996C576 82.3996 571.9 78.1996 571.9 72.6996C571.9 67.1996 576 63.0996 581.5 63.0996C587 63.0996 591.1 67.1996 591.1 72.6996C591.1 78.1996 587 82.3996 581.5 82.3996ZM592.6 61.8996H591C588.8 58.8996 585.2 57.5996 581.2 57.5996C572.7 57.5996 566.3 64.3996 566.3 72.6996C566.3 81.0996 572.7 87.7996 581.2 87.7996C585.1 87.7996 588.8 86.5996 591.1 83.6996H592.6L593.6 87.0996H599.9V82.0996H597.8L596.5 80.3996V65.0996L597.8 63.3996H599.9V58.2996H593.6L592.6 61.8996ZM895.3 80.7996H893.7L884.9 58.2996H878V63.3996H880.8L891 87.0996H898.1L910.5 58.2996H904.1L895.3 80.7996ZM662.6 82.3996C657.1 82.3996 653 78.1996 653 72.6996C653 67.1996 657.1 63.0996 662.6 63.0996C668.1 63.0996 672.2 67.1996 672.2 72.6996C672.2 78.1996 668.1 82.3996 662.6 82.3996ZM662.6 57.5996C654.2 57.5996 647.4 64.3996 647.4 72.6996C647.4 81.0996 654.2 87.7996 662.6 87.7996C671 87.7996 677.8 81.0996 677.8 72.6996C677.8 64.3996 671 57.5996 662.6 57.5996ZM171.2 62.8996C165.7 62.8996 161.7 67.0996 161.7 72.5996C161.7 78.0996 165.7 82.1996 171.2 82.1996C176.7 82.1996 180.8 78.0996 180.8 72.5996C180.8 67.0996 176.7 62.8996 171.2 62.8996ZM171.6 87.6996C163 87.6996 156.3 81.6996 156.3 73.3996V53.5996L155.1 52.0996H152.4V47.1996L161.7 47.2996V60.7996H162.8C164.2 58.8996 167.6 57.4996 171.6 57.4996C180 57.4996 186.4 64.1996 186.4 72.5996C186.4 80.8996 180 87.6996 171.6 87.6996Z"
							fill="black"/>
			</svg>

			<div class="b1-column">
				<div class="b1-title">Cyrillic logo</div>
				<p class="b1-text">Our odoratic client is called "Biblioteka Aromatov" ("The Fragrance Library"). They both
					distribute locally the world-famous DEMETER and create their own scented home goods. They have built their collection of smells
					around the primordial deconstruction. It allows one to pick some simple basic odors, combine them knowingly and create
					own	combinations that induce the needed emotional response.
				</p>
			</div>

		</div>

	</section>

	<section class="video">

			<video class="video-src" muted autoplay>
				<source src="<%=require('./video/ba_video.mp4')%>">
			</video>

	</section>

	<section class="b2">

		<div class="container">

			<div class="b2-wrap">

				<div class="b2-image one">
					<picture>
						<source srcset="<%=require('./images/1.webp')%>" type="image/webp">
						<source srcset="<%=require('./images/1.jpg')%>" type="image/jpeg">
						<img src="<%=require('./images/1.jpg')%>" alt="Biblioteka art 1">
					</picture>
				</div>

				<div class="b2-image two">
					<picture>
						<source srcset="<%=require('./images/2.webp')%>" type="image/webp">
						<source srcset="<%=require('./images/2.jpg')%>" type="image/jpeg">
						<img src="<%=require('./images/2.jpg')%>" alt="Biblioteka art 2">
					</picture>
				</div>

				<div class="b2-image three">
					<picture>
						<source srcset="<%=require('./images/3.webp')%>" type="image/webp">
						<source srcset="<%=require('./images/3.jpg')%>" type="image/jpeg">
						<img src="<%=require('./images/3.jpg')%>" alt="Biblioteka art 3">
					</picture>
				</div>

			</div>

		</div>

	</section>
	</body>
</html>
